@model aarb.Models.BranchLevel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BranchLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchLevelNameAmh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchLevelNameAmh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchLevelNamEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchLevelNamEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetYear.AarevenueBureauNameAmharic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BranchLevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
