@model aarb.Models.AarevenueBureau

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AarevenueBureau</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AarevenueBureauNameAmharic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AarevenueBureauNameAmharic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AarevenueBureauNameEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AarevenueBureauNameEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetterNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetterNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetYearNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetYearNavigation.AafinanceBureaunNameAmharic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BudgetYearId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
